.footer__info a:not(.btn) {
  color: var(--yellow);
  text-decoration: underline;
  text-decoration-color: transparent;
  text-underline-offset: 1px;
  -webkit-transition: all .15s ease;
  -o-transition: all .15s ease;
  transition: all .15s ease
}
.footer__info a:hover:not(.btn) {
  text-decoration-color: inherit
}
.footer {
  background: var(--black-bgr);
  color: var(--gray-light)
}
.footer__info {
  padding-top: 8px;
  padding-bottom: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}
.footer__info .footer-col > :last-child {
  margin-bottom: 0
}
.footer__contacts {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding-bottom: 5px;
  margin-top: 40px
}
.footer__contacts a {
  color: var(--black);
  margin: 7px
}
.footer .logo {
  margin: 0;
  left: 0
}
.footer-col {
  width: 100%
}
.svg-sprite {
  display: block;
  width: 0;
  height: 0
}
.fetch {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  opacity: 0;
  -webkit-transition: opacity .25s ease-in-out;
  -o-transition: opacity .25s ease-in-out;
  transition: opacity .25s ease-in-out;
  background: rgba(255,255,255,.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}
.fetch._sm {
  position: relative
}
.fetch._sm .fetch__ring {
  top: auto;
  height: 32px;
  margin: 20px
}
.product__options .fetch {
  background: rgba(246,248,249,.5)!important
}
.product__details .fetch {
  background: inherit
}
.fetch__ring {
  position: sticky!important;
  max-height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.fetch__ring::before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  margin: 30px 0;
  background: var(--svg-fetch-ring) no-repeat;
  -webkit-animation: fetchRingRotate 1s infinite linear;
  animation: fetchRingRotate 1s infinite linear
}
.filter.is-active .fetch__ring {
  display: none
}
.item .fetch__ring {
  display: none
}
@-webkit-keyframes fetchRingRotate {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}
@keyframes fetchRingRotate {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}
.skeleton {
  margin: 0 16px 16px
}
.skeleton .s-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3,1fr);
  -ms-grid-rows: (1fr)[2];
  grid-template-rows: repeat(2,1fr);
  gap: 5px
}
.skeleton .s-grid .s-t {
  width: 100%
}
.skeleton .s-t {
  width: 40%;
  height: 10px;
  margin: 5px 0 0 0;
  border-radius: 4px;
  -webkit-animation: loaderSkeleton 1s linear infinite alternate;
  animation: loaderSkeleton 1s linear infinite alternate
}
.skeleton .s-b {
  height: 25px;
  margin: 5px 0 5px 0;
  border-radius: 4px;
  -webkit-animation: loaderSkeleton 1s linear infinite alternate;
  animation: loaderSkeleton 1s linear infinite alternate
}
.skeleton .s-btn {
  height: 45px;
  margin-top: 35px;
  border-radius: 4px;
  -webkit-animation: loaderSkeleton 1s linear infinite alternate;
  animation: loaderSkeleton 1s linear infinite alternate
}
@-webkit-keyframes loaderSkeleton {
  0% {
    background-color: hsla(201deg,20%,80%,.6)
  }
  100% {
    background-color: hsl(200deg,20%,95%)
  }
}
@keyframes loaderSkeleton {
  0% {
    background-color: hsla(201deg,20%,80%,.6)
  }
  100% {
    background-color: hsl(200deg,20%,95%)
  }
}
.btn-loader {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  pointer-events: none
}
.btn-loader span {
  opacity: 0
}
.btn-loader::before {
  position: absolute;
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: var(--svg-fetch-ring) no-repeat;
  -webkit-animation: fetchRingRotate 1s infinite linear;
  animation: fetchRingRotate 1s infinite linear
}
.btn-loader::after {
  display: none
}
.pagination {
  margin: 56px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.pagination__pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
.pagination__arrow svg {
  width: 20px;
  height: 18px;
  stroke: var(--black60);
  stroke-width: 1.5px
}
.pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
.pagination__list * {
  margin: 0;
  padding: 0
}
.pagination__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--black60);
  text-decoration: none;
  border-radius: 8px;
  border: 1px solid var(--white)
}
.pagination__link:active,
.pagination__link:focus,
.pagination__link:hover {
  color: var(--black);
  text-shadow: none;
  background: var(--gray)
}
.pagination__link:active svg,
.pagination__link:focus svg,
.pagination__link:hover svg {
  stroke: var(--black)
}
.pagination__arrow .pagination__link {
  width: 44px
}
.pagination__link.is-active {
  color: var(--black);
  text-shadow: none;
  background: var(--gray)
}
.pagination__link.is-disabled {
  pointer-events: none
}
.pagination span.pagination__link {
  pointer-events: none
}
.scrollToTop {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  left: calc(100vw - 90px);
  left: calc(100dvw - 90px);
  bottom: 30px;
  padding: 0;
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity .25s ease-in-out,background .25s ease-in-out;
  -o-transition: opacity .25s ease-in-out,background .25s ease-in-out;
  transition: opacity .25s ease-in-out,background .25s ease-in-out
}
.scrollToTop:hover::after {
  margin-top: -4px
}
.scrollToTop::after {
  content: "";
  display: block;
  width: 17px;
  height: 17px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 17px;
  flex: 0 0 17px;
  background-image: var(--svg-arrow-long);
  background-repeat: no-repeat;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: all .1s;
  -o-transition: all .1s;
  transition: all .1s
}
.scrollToTop.is-visible {
  opacity: 1;
  z-index: 11
}
@media (min-width:768px) {
  .footer__info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row
  }
  .footer__contacts {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-top: 0
  }
  .footer__contacts a {
    margin: 0 7px
  }
  .footer__contacts a:last-child {
    margin-left: 15px
  }
  .footer-col {
    width: 50%
  }
}