@charset "UTF-8";
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%
}
body {
  margin: 0
}
main {
  display: block
}
h1 {
  font-size: 2em;
  margin: .67em 0
}
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible
}
pre {
  font-family: monospace,monospace;
  font-size: 1em
}
a {
  background-color: transparent
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted
}
b,
strong {
  font-weight: bolder
}
code,
kbd,
samp {
  font-family: monospace,monospace;
  font-size: 1em
}
small {
  font-size: 85%;
  line-height: 1.2
}
sub,
sup {
  font-size: 85%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}
sub {
  bottom: -.25em
}
sup {
  top: -.5em
}
img {
  border-style: none
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0
}
button,
input {
  overflow: visible
}
button,
select {
  text-transform: none
}
[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button
}
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0
}
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText
}
fieldset {
  padding: .35em .75em .625em
}
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal
}
progress {
  vertical-align: baseline
}
textarea {
  overflow: auto
}
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto
}
[type=search] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  outline-offset: -2px
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
  -webkit-transition: background-color 600000s 0s;
  transition: background-color 600000s 0s
}
input[data-autocompleted] {
  background-color: transparent!important
}
details {
  display: block
}
summary {
  display: list-item
}
template {
  display: none
}
[hidden] {
  display: none
}
:active,
:focus,
:focus-visible,
a:active,
a:focus,
a:focus-visible {
  outline: 0
}
ol[class],
ul[class] {
  padding: 0
}
blockquote,
body,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
ol[class],
p,
ul[class] {
  margin: 0
}
html {
  scroll-behavior: smooth
}
body {
  text-rendering: optimizeSpeed
}
ol[class],
ul[class] {
  list-style: none
}
a {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto
}
img {
  font-style: italic;
  max-width: 100%;
  height: auto;
  display: block
}
article > * + * {
  margin-top: 1em
}
button {
  cursor: pointer
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 320px;
  min-height: 100vh;
  cursor: default
}
body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  letter-spacing: -.28px;
  background: var(--black-bgr);
  overflow-x: hidden;
  overflow-y: scroll
}
*,
::after,
::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit
}
::-moz-selection {
  background: var(--yellow);
  color: var(--black)
}
::selection {
  background: var(--yellow);
  color: var(--black)
}
img::-moz-selection {
  background: rgba(255,192,0,.5);
  color: transparent
}
img::selection {
  background: rgba(255,192,0,.5);
  color: transparent
}
svg {
  -webkit-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out
}
.container {
  min-width: 320px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1
}
.content {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
  position: relative
}
.content._no-padding {
  padding-left: 0;
  padding-right: 0
}
.h1,
.h1 > *,
h1 {
  font-size: 8vw;
  line-height: 1;
  font-weight: 700;
  letter-spacing: -1px
}
.h2,
.h2 > *,
h2 {
  font-size: 2.375rem;
  line-height: 1;
  font-weight: 700;
  letter-spacing: -1px
}
.h3,
.h3 > *,
h3 {
  font-size: 2.5rem;
  line-height: 1;
  font-weight: 700
}
.h4,
.h4 > *,
h4 {
  font-size: 2rem;
  line-height: 1;
  font-weight: 500
}
.h5,
.h5 > *,
h5 {
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: -.3px;
  margin-bottom: 16px
}
.h6,
.h6 > *,
h6 {
  font-size: .875rem;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: -.3px;
  margin-bottom: 16px
}
a {
  position: relative;
  color: inherit;
  text-decoration: underline;
  text-decoration-color: transparent;
  text-underline-offset: 5px;
  text-shadow: none;
  -webkit-transition: all .15s ease;
  -o-transition: all .15s ease;
  transition: all .15s ease
}
a:hover {
  text-decoration-color: inherit
}
a:focus-visible {
  outline: 2px solid var(--yellow-dark);
  border-radius: 3px;
  -webkit-transition: none;
  -o-transition: none;
  transition: none
}
label a,
p a,
span a {
  color: var(--yellow);
  text-decoration: underline;
  text-decoration-color: transparent;
  text-underline-offset: 1px;
  -webkit-transition: all .15s ease;
  -o-transition: all .15s ease;
  transition: all .15s ease
}
label a:hover,
p a:hover,
span a:hover {
  text-decoration-color: inherit
}
body {
  color: var(--black);
  font: normal .9375rem/1.2 Manrope,Helvetica,"Open Sans",Arial,sans-serif;
  font-weight: 500
}
.h1 span,
.h2 span,
.h3 span,
.h4 span,
.h5 span,
.h6 span,
h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
  color: var(--black60)
}
p {
  letter-spacing: -.3px;
  margin-bottom: 16px;
  line-height: 1.4
}
ol,
ul {
  display: block;
  list-style-type: disc;
  margin-bottom: 15px;
  margin-left: 12px;
  padding-left: 20px
}
ol li,
ul li {
  margin-bottom: 5px
}
ol {
  list-style-type: decimal
}
.text-center {
  text-align: center!important
}
.text-left {
  text-align: left!important
}
.text-right {
  text-align: right!important
}
.text-uppercase {
  text-transform: uppercase
}
.text-block {
  margin-bottom: 12px
}
.text-block span {
  color: var(--black60)
}
.text-block:last-child {
  margin-bottom: 0
}
.text-cols-2 {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 60px;
  -moz-column-gap: 60px;
  column-gap: 60px;
  -webkit-column-width: 300px;
  -moz-column-width: 300px;
  column-width: 300px
}
.text-black {
  color: var(--black)
}
.text-white {
  color: var(--white)!important
}
.text-yellow {
  color: var(--yellow)!important
}
.block-header {
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 29px;
  text-align: center;
  font-size: 1.25rem
}
.block-header._left {
  text-align: left
}
.hidden {
  display: none!important
}
.hidden-overflow {
  overflow: hidden
}
.invisible {
  opacity: 0;
  z-index: -1;
  -webkit-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out
}
.flex {
  display: -webkit-box!important;
  display: -ms-flexbox!important;
  display: flex!important
}
.flex-column {
  -webkit-box-orient: vertical!important;
  -webkit-box-direction: normal!important;
  -ms-flex-direction: column!important;
  flex-direction: column!important
}
.flex-row {
  -webkit-box-orient: horizontal!important;
  -webkit-box-direction: normal!important;
  -ms-flex-direction: row!important;
  flex-direction: row!important
}
.flex-center {
  -webkit-box-pack: center!important;
  -ms-flex-pack: center!important;
  justify-content: center!important
}
.flex-space-between {
  -webkit-box-pack: justify!important;
  -ms-flex-pack: justify!important;
  justify-content: space-between!important
}
.flex-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.flex-header * {
  margin-bottom: 0
}
.pos-flex-right {
  margin-left: auto!important
}
.noscroll {
  overflow: hidden;
  width: 100vw;
  position: fixed
}
.center {
  margin: 0 auto!important
}
.relative {
  position: relative!important
}
.scrollblock {
  overflow: hidden;
  overflow-y: auto;
  -ms-scroll-chaining: none;
  overscroll-behavior: contain
}
@supports (-moz-appearance:none) {
  .scrollblock {
    scrollbar-width: thin;
    scrollbar-color: #b8c3ca var(--gray-light)
  }
}
.scrollblock::-webkit-scrollbar {
  width: 4px;
  height: 4px
}
.scrollblock::-webkit-scrollbar-thumb,
.scrollblock::-webkit-scrollbar-track {
  border-radius: 4px
}
.scrollblock::-webkit-scrollbar-track,
.scrollblock::-webkit-scrollbar-track:active,
.scrollblock::-webkit-scrollbar-track:hover {
  background-color: var(--gray-light)
}
.scrollblock::-webkit-scrollbar-thumb {
  background-color: #b8c3ca
}
.scrollblock::-webkit-scrollbar-thumb:active,
.scrollblock::-webkit-scrollbar-thumb:hover {
  background-color: #8e989e
}
.hide-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none
}
.hide-scroll::-webkit-scrollbar {
  display: none
}
.hover-scroll::-webkit-scrollbar-track,
.hover-scroll::-webkit-scrollbar-track:active,
.hover-scroll::-webkit-scrollbar-track:hover {
  background-color: transparent
}
body:not(.is-touch) .hover-scroll::-webkit-scrollbar-thumb {
  background-color: transparent
}
body:not(.is-touch) .hover-scroll:hover::-webkit-scrollbar-thumb {
  background-color: var(--gray)
}
body:not(.is-touch) .hover-scroll:hover::-webkit-scrollbar-thumb:active,
body:not(.is-touch) .hover-scroll:hover::-webkit-scrollbar-thumb:hover {
  background-color: #b8c3ca
}
.scroll-x {
  overflow-x: scroll
}
.scroll-y {
  overflow-y: scroll
}
.bg-white {
  background: var(--white)
}
.bg-gray {
  --bg-full: var(--gray);
  background-color: var(--gray)
}
.bg-gray-xxl {
  --bg-full: var(--gray)
}
.bg-full {
  -webkit-box-shadow: 0 0 0 100vmax var(--bg-full);
  box-shadow: 0 0 0 100vmax var(--bg-full);
  -webkit-clip-path: inset(0 -100vmax);
  clip-path: inset(0 -100vmax)
}
.overlay::before {
  content: "";
  display: block;
  position: fixed;
  z-index: 12;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--black30);
  opacity: 0;
  -webkit-transition: opacity .25s ease-in-out;
  -o-transition: opacity .25s ease-in-out;
  transition: opacity .25s ease-in-out
}
.overlay.is-active::before {
  opacity: 1
}
.item-note {
  position: absolute;
  right: 17px;
  bottom: 12px;
  left: 17px;
  text-decoration: none;
  text-shadow: 1px 1px 3px var(--black60)
}
.block {
  display: block
}
.is-collapsible {
  -webkit-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  overflow: hidden
}
.is-collapsed:not(.js-collapse) {
  height: 0;
  margin-top: 0;
  margin-bottom: 0
}
.header {
  background: var(--black-bgr);
  color: var(--gray-light);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 12
}
.header.is-ontop {
  -webkit-transform: translateY(0)!important;
  -ms-transform: translateY(0)!important;
  transform: translateY(0)!important
}
.header.is-sticky {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  position: sticky;
  top: 0;
  -webkit-transition: -webkit-transform .25s ease-in-out;
  transition: -webkit-transform .25s ease-in-out;
  -o-transition: transform .25s ease-in-out;
  transition: transform .25s ease-in-out;
  transition: transform .25s ease-in-out,-webkit-transform .25s ease-in-out
}
.header.is-hidden {
  -webkit-transform: translateY(-100%)!important;
  -ms-transform: translateY(-100%)!important;
  transform: translateY(-100%)!important;
  -webkit-transition: -webkit-transform .25s ease-in-out;
  transition: -webkit-transform .25s ease-in-out;
  -o-transition: transform .25s ease-in-out;
  transition: transform .25s ease-in-out;
  transition: transform .25s ease-in-out,-webkit-transform .25s ease-in-out
}
.logo svg {
  fill: var(--white);
  width: 100px;
  height: 20px
}
.logo__link {
  display: block;
  border: 0;
  width: 100px;
  height: 20px
}
.logo__name {
  color: var(--yellow);
  font-weight: 700;
  margin-top: 5px
}
.nav {
  position: relative
}
.nav__list {
  padding: 50px 0!important
}
.nav__item a {
  display: block;
  padding: 16px 40px
}
.nav__item .btn {
  margin: 40px 0 0 19px
}
.nav__item:first-child {
  padding-left: 0
}
.nav__item:last-child {
  padding-right: 0
}
.nav__wrapper {
  height: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 1
}
.nav__menu.hide-nav .nav-second__wrapper,
.nav__menu.hide-nav .nav__catalog {
  display: none
}
.nav__mobile-controls {
  z-index: 1
}
.nav__mobile-controls .hamburger-box {
  position: absolute;
  top: 12px;
  right: 2px;
  z-index: 2
}
.menu-toggle {
  opacity: 0!important;
  display: none!important;
  visibility: hidden!important
}
.hamburger-box {
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40px;
  flex: 0 0 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  z-index: 0
}
.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
  position: absolute;
  z-index: 5;
  width: 25px;
  height: 2px;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: .15s;
  -o-transition-duration: .15s;
  transition-duration: .15s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform,-webkit-transform;
  border-radius: 2px;
  background: var(--white)
}
.hamburger-inner::after,
.hamburger-inner::before {
  display: block;
  content: ""
}
.hamburger-inner {
  top: 50%;
  -webkit-transition-timing-function: cubic-bezier(.55,.055,.675,.19);
  -o-transition-timing-function: cubic-bezier(.55,.055,.675,.19);
  transition-timing-function: cubic-bezier(.55,.055,.675,.19);
  -webkit-transition-duration: 75ms;
  -o-transition-duration: 75ms;
  transition-duration: 75ms
}
.hamburger-inner::before {
  top: -8px;
  -webkit-transition: top 75ms ease .12s,opacity 75ms ease;
  -o-transition: top 75ms ease .12s,opacity 75ms ease;
  transition: top 75ms ease .12s,opacity 75ms ease
}
.hamburger-inner::after {
  bottom: -8px;
  -webkit-transition: bottom 75ms ease .12s,-webkit-transform 75ms cubic-bezier(.55,.055,.675,.19);
  transition: bottom 75ms ease .12s,-webkit-transform 75ms cubic-bezier(.55,.055,.675,.19);
  -o-transition: bottom 75ms ease .12s,transform 75ms cubic-bezier(.55,.055,.675,.19);
  transition: bottom 75ms ease .12s,transform 75ms cubic-bezier(.55,.055,.675,.19);
  transition: bottom 75ms ease .12s,transform 75ms cubic-bezier(.55,.055,.675,.19),-webkit-transform 75ms cubic-bezier(.55,.055,.675,.19)
}
.breadcrumbs {
  margin: 27px 0 26px
}
.breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap
}
.text-center .breadcrumbs__list {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}
.breadcrumbs__item {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.breadcrumbs__item svg {
  display: block;
  width: 20px;
  height: 20px;
  margin: 0 25px;
  fill: var(--gray)
}
.breadcrumbs__item > span {
  color: var(--gray)
}
.breadcrumbs__link {
  text-decoration: none;
  color: var(--gray)
}
.breadcrumbs__link:hover {
  color: var(--gray-light)
}
.btn {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 0;
  border-radius: 50px;
  padding: 12px 24px 10px;
  font-size: .9375rem;
  font-weight: 300;
  line-height: 1.2;
  text-decoration: none;
  text-align: center;
  -webkit-transition: all .25s ease-in-out,text-indent 0s;
  -o-transition: all .25s ease-in-out,text-indent 0s;
  transition: all .25s ease-in-out,text-indent 0s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}
.btn span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}
.btn span::after {
  -webkit-transition: opacity .25s ease-in-out;
  -o-transition: opacity .25s ease-in-out;
  transition: opacity .25s ease-in-out
}
.btn svg {
  width: 17px;
  height: 17px;
  fill: currentColor
}
.btn:focus-visible {
  -webkit-box-shadow: 0 0 0 3px var(--yellow-dark)!important;
  box-shadow: 0 0 0 3px var(--yellow-dark)!important;
  outline: 0;
  border-radius: 50px
}
.btn:disabled,
.btn_disabled {
  cursor: default!important;
  pointer-events: none;
  color: rgba(51,51,51,.3)!important
}
.btn:disabled span::after,
.btn_disabled span::after {
  opacity: .5
}
.btn_yellow {
  color: var(--black);
  background: var(--yellow);
  -webkit-box-shadow: 0 0 0 1px var(--yellow);
  box-shadow: 0 0 0 1px var(--yellow)
}
.btn_yellow:hover {
  background: var(--yellow-dark);
  -webkit-box-shadow: 0 0 0 1px var(--yellow-dark);
  box-shadow: 0 0 0 1px var(--yellow-dark)
}
.btn_yellow:active {
  background: var(--yellow-dark);
  -webkit-box-shadow: 0 0 0 1px var(--yellow-dark);
  box-shadow: 0 0 0 1px var(--yellow-dark);
  color: var(--black60)!important
}
.btn_yellow:active span::after {
  opacity: .6
}
.btn_yellow-transparent {
  background: 0 0;
  color: var(--yellow);
  -webkit-box-shadow: 0 0 0 1px var(--yellow);
  box-shadow: 0 0 0 1px var(--yellow)
}
.btn_yellow-transparent:hover {
  color: var(--yellow-dark);
  -webkit-box-shadow: 0 0 0 1px var(--yellow-dark);
  box-shadow: 0 0 0 1px var(--yellow-dark)
}
.btn_yellow-transparent:active {
  color: var(--yellow-dark);
  -webkit-box-shadow: 0 0 0 1px var(--yellow-dark);
  box-shadow: 0 0 0 1px var(--yellow-dark)
}
.btn_small {
  height: 36px;
  font-size: 1rem;
  line-height: 1.1;
  padding: 9px 20px
}
.btn_medium {
  padding-left: 61px;
  padding-right: 61px
}
.btn_big {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  font-size: 1.125rem;
  padding: 20px 30px;
  height: 66px
}
.btn_long {
  padding-left: 72px;
  padding-right: 72px
}
.btn_fit {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content
}
.btn_fill,
.btn_wide {
  width: 100%
}
.btn_arrow-forward {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
.btn_arrow-forward span::after {
  content: "";
  display: block;
  margin-left: 13px;
  width: 20px;
  height: 20px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20px;
  flex: 0 0 20px;
  background-image: var(--svg-arrow-long);
  background-repeat: no-repeat;
  -webkit-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  margin-bottom: 1px;
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1)
}
.btn_arrow-forward:hover span::after {
  -webkit-transform: translateX(3px) scaleX(-1);
  -ms-transform: translateX(3px) scaleX(-1);
  transform: translateX(3px) scaleX(-1)
}
.btn_close,
.btn_remove {
  position: absolute;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  top: 15px;
  right: 17px;
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: transparent
}
.btn_close::after,
.btn_close::before,
.btn_remove::after,
.btn_remove::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 18px;
  background-color: var(--black);
  -webkit-box-shadow: 0 0 1px 0 var(--black);
  box-shadow: 0 0 1px 0 var(--black)
}
.btn_close::before,
.btn_remove::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}
.btn_close::after,
.btn_remove::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg)
}
.btn_close-xl {
  width: 40px;
  height: 40px
}
.btn_close-xl::after,
.btn_close-xl::before {
  height: 25px
}
.btn_close-modal {
  position: absolute;
  top: var(--modal-padding-y);
  right: calc(var(--modal-padding-x) - 5px)
}
.btn-round {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  padding: 0;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}
.btn-round svg {
  width: 15px;
  height: 15px;
  fill: currentColor
}
.btn-round.btn_big {
  width: 66px;
  height: 66px;
  padding: 0
}
.btn-round.btn_big svg {
  width: 33px;
  height: 33px
}
.btn-round.btn_big svg.icon-arrow {
  width: 20px;
  height: 20px
}
.btn-round svg.icon-tg {
  margin-left: -5px
}
.btn-round svg.icon-wsapp {
  margin-left: 2px
}
button:focus-visible {
  -webkit-box-shadow: 0 0 0 1px var(--black60),0 0 0 7px var(--black);
  box-shadow: 0 0 0 1px var(--black60),0 0 0 7px var(--black);
  border-radius: 4px
}
fieldset {
  padding: 0;
  margin: 0;
  border: none
}
.form input[type=email]::-webkit-input-placeholder,
.form input[type=tel]::-webkit-input-placeholder,
.form input[type=text]::-webkit-input-placeholder,
.form select::-webkit-input-placeholder,
.form textarea::-webkit-input-placeholder {
  color: var(--black60)
}
.form input[type=email]::-moz-placeholder,
.form input[type=tel]::-moz-placeholder,
.form input[type=text]::-moz-placeholder,
.form select::-moz-placeholder,
.form textarea::-moz-placeholder {
  color: var(--black60)
}
.form input[type=email]:-ms-input-placeholder,
.form input[type=tel]:-ms-input-placeholder,
.form input[type=text]:-ms-input-placeholder,
.form select:-ms-input-placeholder,
.form textarea:-ms-input-placeholder {
  color: var(--black60)
}
.form input[type=email]::-ms-input-placeholder,
.form input[type=tel]::-ms-input-placeholder,
.form input[type=text]::-ms-input-placeholder,
.form select::-ms-input-placeholder,
.form textarea::-ms-input-placeholder {
  color: var(--black60)
}
.form input[type=email]::placeholder,
.form input[type=tel]::placeholder,
.form input[type=text]::placeholder,
.form select::placeholder,
.form textarea::placeholder {
  color: var(--black60)
}
.form textarea {
  min-height: 82px;
  resize: vertical
}
.form__fieldset {
  padding-bottom: 35px
}
.form__fieldset:last-child {
  padding-bottom: 0
}
.form__fieldset button[type=submit] {
  margin-top: 35px!important
}
.form-item {
  position: relative;
  margin-bottom: 20px
}
.form-item__info {
  width: 100%
}
.form-item__info p {
  line-height: 1.2;
  margin-bottom: 2px
}
.form-item__info p small {
  display: block
}
.form-item__info a,
.form-item__info span {
  color: var(--black60)
}
.form-item__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}
.form-item__name p {
  margin-right: 16px
}
.form-item__actions {
  margin: 9px 0 0 30px
}
.form-item:last-child {
  margin-bottom: 0
}
.form-item:last-child textarea {
  margin-top: 14px
}
.form-item label {
  width: 100%;
  display: block;
  font-size: 1rem;
  color: var(--black60)
}
.form-item label ~ .form-item-flex {
  margin-top: 12px
}
.form-item-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}
.form-item-flex input[type=text] {
  margin: 0 0 8px
}
.form-item-flex .btn {
  width: 100%
}
.form-items-row {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  gap: 12px
}
.form-agreement {
  margin-top: 26px
}
.form-agreement label {
  margin-bottom: 20px;
  color: #a3a3a3
}
.form-agreement label:last-child {
  margin-bottom: 0
}
.form-agreement a {
  color: var(--yellow)
}
.form-agreement input[type=checkbox] ~ span {
  display: block;
  font-size: .84375rem
}
.form-agreement input[type=checkbox] ~ span::after,
.form-agreement input[type=checkbox] ~ span::before {
  margin-top: -2px
}
.input,
.textarea {
  color: var(--black);
  position: relative;
  background-color: var(--white);
  border: 0;
  border-radius: 100px;
  -webkit-box-shadow: 0 0 0 1px var(--black-real);
  box-shadow: 0 0 0 1px var(--black-real);
  font-size: 1.25rem;
  line-height: 1;
  padding: 16px 40px;
  -webkit-transition: border-radius .25s ease-in-out,background-color .25s ease-in-out,-webkit-box-shadow .25s ease-in-out;
  transition: border-radius .25s ease-in-out,background-color .25s ease-in-out,-webkit-box-shadow .25s ease-in-out;
  -o-transition: box-shadow .25s ease-in-out,border-radius .25s ease-in-out,background-color .25s ease-in-out;
  transition: box-shadow .25s ease-in-out,border-radius .25s ease-in-out,background-color .25s ease-in-out;
  transition: box-shadow .25s ease-in-out,border-radius .25s ease-in-out,background-color .25s ease-in-out,-webkit-box-shadow .25s ease-in-out
}
label .input,
label .textarea {
  margin-top: 10px
}
.input:hover,
.textarea:hover {
  background-color: var(--white);
  -webkit-box-shadow: 0 0 0 1px var(--yellow);
  box-shadow: 0 0 0 1px var(--yellow)
}
.input:focus,
.textarea:focus {
  background-color: var(--white);
  -webkit-box-shadow: 0 0 0 2px var(--yellow);
  box-shadow: 0 0 0 2px var(--yellow)
}
.form-item.is-active .input,
.form-item.is-active .textarea {
  background-color: var(--white);
  -webkit-box-shadow: 0 0 0 2px var(--yellow);
  box-shadow: 0 0 0 2px var(--yellow)
}
.input.is-error,
.textarea.is-error {
  color: var(--red);
  -webkit-box-shadow: 0 0 0 2px var(--red);
  box-shadow: 0 0 0 2px var(--red)
}
.input:disabled,
.textarea:disabled {
  cursor: not-allowed;
  opacity: .6;
  background-color: var(--white);
  -webkit-box-shadow: 0 0 0 1px var(--black30);
  box-shadow: 0 0 0 1px var(--black30)
}
.input_fill,
.textarea_fill {
  width: 100%
}
.submit-status {
  font-size: 1.125rem;
  text-align: center;
  margin: 10px 0
}
.submit-status_error {
  color: var(--red)
}
.submit-status_success {
  color: var(--black)
}
.submit-status_replaced {
  margin: 32px 0
}
.submit-status h1,
.submit-status h2,
.submit-status h3,
.submit-status h4,
.submit-status h5,
.submit-status h6 {
  margin-bottom: 20px
}
.submit-status p {
  margin-bottom: 0
}
label {
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content
}
label:hover input:not(:checked):not(:disabled) ~ span::after {
  background: var(--black10);
  border-color: var(--black)
}
label:hover input:not(:checked):not(:disabled) ~ img {
  border-color: var(--black)
}
label input ~ img {
  -webkit-transition: border-color .25s ease-in-out;
  -o-transition: border-color .25s ease-in-out;
  transition: border-color .25s ease-in-out
}
.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 23px;
  margin-right: 18px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 36px;
  flex: 0 0 36px;
  -ms-flex-item-align: start;
  align-self: flex-start
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0
}
.switch input.is-error ~ .slider {
  --accent-color: var(--red)
}
.slider {
  --accent-color: #a3a3a3;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--accent-color);
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s
}
.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 2px;
  bottom: 2px;
  background-color: var(--white);
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s
}
input:checked + .slider {
  background-color: var(--yellow)
}
input:focus + .slider {
  -webkit-box-shadow: 0 0 1px var(--yellow);
  box-shadow: 0 0 1px var(--yellow)
}
input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px)
}
.slider.round {
  border-radius: 34px
}
.slider.round:before {
  border-radius: 50%
}
.lcslt {
  background: var(--white);
  border-radius: 100px;
  font-size: 1.25rem!important;
  padding: 16px 40px!important;
  -webkit-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  -webkit-box-shadow: 0 0 0 1px var(--black-real);
  box-shadow: 0 0 0 1px var(--black-real);
  margin-top: 10px
}
.lcslt span:not(.lcslt-placeholder):not(.lcslt-multi-callout) {
  line-height: normal!important;
  font-size: inherit!important
}
.lc-select-dd-scroll {
  max-height: none!important
}
#lc-select-dd,
.lcslt:not(.lcslt-disabled):hover {
  -webkit-box-shadow: 0 0 0 1px var(--yellow);
  box-shadow: 0 0 0 1px var(--yellow)
}
.lcslt.lcslt_dd-open {
  -webkit-box-shadow: 0 0 0 1px var(--yellow);
  box-shadow: 0 0 0 1px var(--yellow)
}
.lcslt.lcslt-multiple > span:not(.lcslt-multi-callout) {
  padding: 3px 0 6px
}
#lc-select-dd li,
.lcslt > span:not(.lcslt-placeholder):not(.lcslt-multi-callout) {
  color: var(--black)
}
.lcslt.lcslt-disabled {
  cursor: not-allowed;
  opacity: .6
}
#lc-select-dd {
  background: var(--white);
  border: 1px solid var(--black10);
  border-top: none!important;
  border-radius: 25px!important;
  -webkit-box-shadow: 0 20px 24px 0 rgba(37,39,42,.08);
  box-shadow: 0 20px 24px 0 rgba(37,39,42,.08);
  margin-top: 2px;
  font-size: 1.25rem!important;
  font-family: inherit!important
}
#lc-select-dd li {
  padding: 16px 40px
}
#lc-select-dd li span {
  padding: 0
}
#lc-select-dd li {
  border: none;
  border-top: 1px solid var(--black10)
}
.lcslt-dd-opt {
  -webkit-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out
}
#lc-select-dd .lcslt-dd-opt-hlight,
#lc-select-dd li.lcslt-dd-opt:not(.lcslt-disabled):not(.lcslt-selected):hover {
  color: var(--yellow)
}
#lc-select-dd li.lcslt-dd-opt.lcslt-disabled {
  color: var(--black60);
  background: var(--gray-light)
}
#lc-select-dd li.lcslt-selected {
  color: var(--yellow)!important;
  background: var(--white);
  position: relative
}
.lcslt:not(.lcslt-multiple)::after {
  content: "";
  position: absolute;
  display: block!important;
  top: calc(50% - 20px)!important;
  right: 12px!important;
  width: 40px!important;
  height: 40px!important;
  border: 0!important;
  border-radius: 50%;
  background: var(--yellow) var(--svg-arrow-long-white) center no-repeat!important;
  background-size: 22px 22px!important;
  -webkit-transform: translateY(1px) rotate(-90deg)!important;
  -ms-transform: translateY(1px) rotate(-90deg)!important;
  transform: translateY(1px) rotate(-90deg)!important;
  -webkit-transition: -webkit-transform .25s ease-in-out!important;
  transition: -webkit-transform .25s ease-in-out!important;
  -o-transition: transform .25s ease-in-out!important;
  transition: transform .25s ease-in-out!important;
  transition: transform .25s ease-in-out,-webkit-transform .25s ease-in-out!important
}
.lcslt.lcslt_dd-open::after {
  -webkit-transform: translateY(1px) rotate(90deg)!important;
  -ms-transform: translateY(1px) rotate(90deg)!important;
  transform: translateY(1px) rotate(90deg)!important
}
input[type=file] {
  width: .1px;
  height: .1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1
}
input[type=file]:focus-visible ~ span {
  -webkit-box-shadow: 0 0 0 2px var(--yellow);
  box-shadow: 0 0 0 2px var(--yellow);
  border-radius: 3px
}
.file-input {
  cursor: pointer;
  width: -webkit-fit-content!important;
  width: -moz-fit-content!important;
  width: fit-content!important
}
.file-input__icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  fill: var(--black);
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16px;
  flex: 0 0 16px
}
.file-input__name {
  margin-left: 10px;
  font-size: .8125rem;
  color: var(--black60);
  text-decoration: underline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative
}
.file-input__name span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 20px
}
.file-input__name .btn {
  position: absolute;
  top: calc(50% - 8px);
  right: 0;
  width: 16px;
  height: 16px;
  opacity: .6
}
.file-input__name .btn::after,
.file-input__name .btn::before {
  height: 12px
}
.file-input__name .btn:active,
.file-input__name .btn:focus,
.file-input__name .btn:hover {
  opacity: 1
}
.file-input input ~ span:not(.hidden) ~ span {
  display: none
}
.modal {
  --modal-padding-y: 24px;
  --modal-padding-x: 32px;
  min-width: 320px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity .25s ease-in-out;
  -o-transition: opacity .25s ease-in-out;
  transition: opacity .25s ease-in-out;
  padding: var(--modal-padding-y) var(--modal-padding-x);
  background: var(--gray-light);
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 132px 0 rgba(54,45,21,.2);
  box-shadow: 0 4px 132px 0 rgba(54,45,21,.2)
}
.modal.is-active {
  z-index: 12;
  opacity: 1
}
.modal.is-video {
  width: 100%
}
.modal.is-image {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  left: 0;
  right: 0;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  padding: 0!important;
  background: 0 0!important;
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
  width: fit-content!important
}
.modal.is-image ._image {
  margin: 0
}
.modal.is-image img {
  max-height: 90vh;
  max-height: 90dvh
}
.modal.is-image .btn_close::after,
.modal.is-image .btn_close::before {
  height: 24px;
  background-color: var(--white)
}
.modal__head {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -.52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 40px 32px 0
}
.modal__head svg {
  width: 24px;
  height: 24px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  margin-right: 8px
}
.modal__close {
  position: relative
}
.modal__close .btn {
  position: relative;
  top: auto;
  right: auto
}
.modal__body._player {
  background: var(--black-real);
  border-radius: 3px;
  height: 0;
  overflow: hidden;
  margin-top: 40px;
  padding-bottom: 56.25%;
  position: relative
}
.modal__body._player iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px
}
.modal__body._image {
  margin-top: 40px
}
.modal__form {
  margin-bottom: 14px
}
.modal__form label > input {
  margin-top: 7px
}
.geo-selector__fav {
  font-size: .875rem;
  color: var(--black60);
  margin-bottom: 39px
}
.geo-selector__fav span {
  margin-right: 3px
}
.geo-selector__fav a {
  color: var(--black60);
  text-decoration: underline;
  display: inline-block;
  margin: 0 5px 7px 0;
  white-space: nowrap
}
.geo-selector__cities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap
}
.geo-selector__cities a {
  width: calc(50% - 10px);
  color: var(--black-real);
  margin: 0 5px 12px 0
}
.geo-selector__cities a.is-current {
  text-shadow: 0 0 0
}
@media (min-width:425px) {
  .geo-selector__cities a {
    width: 175px;
    white-space: nowrap
  }
}
@media (min-width:768px) {
  .content {
    padding-left: 16px;
    padding-right: 16px
  }
  .h1,
  .h1 > *,
  h1 {
    font-size: 3.75rem;
    line-height: 60px;
    letter-spacing: -4px
  }
  .h2,
  .h2 > *,
  h2 {
    font-size: 3.125rem
  }
  .block-header {
    margin-top: 50px;
    margin-bottom: 32px;
    text-align: left;
    font-size: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
  }
  .logo {
    margin: 0 auto;
    position: relative;
    left: -20px
  }
  .btn_big {
    font-size: 1.25rem;
    padding: 20px 40px
  }
  .form-item__name {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
  }
  .form-item__name p {
    max-width: 75%
  }
  .modal {
    max-width: 100%;
    top: 143px;
    right: auto;
    left: 50%;
    bottom: auto;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%)
  }
  .modal.is-image img {
    margin: 0 auto;
    max-height: calc(100vh - 143px - 143px);
    max-height: calc(100dvh - 143px - 143px)
  }
  .modal__head {
    font-size: 1.625rem
  }
}
@media (min-width:1024px) {
  .h1,
  .h1 > *,
  h1 {
    font-size: 4.375rem;
    line-height: 70px
  }
  .h2,
  .h2 > *,
  h2 {
    font-size: 4rem
  }
  .h5,
  .h5 > *,
  h5 {
    font-size: 1.125rem
  }
  .h6,
  .h6 > *,
  h6 {
    font-size: 1rem
  }
  .block-header {
    font-size: 2.125rem
  }
  .hidden-lg {
    display: none!important
  }
  .logo {
    margin: 0;
    left: auto
  }
  .nav__list {
    padding: 0!important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
  }
  .nav__list_footer .nav__item {
    padding: 0 10px
  }
  .nav__item {
    margin: 0;
    padding: 0 15px
  }
  .nav__item a {
    padding: 0
  }
  .nav__item .btn {
    margin: 0
  }
  .nav__wrapper {
    position: relative
  }
  .nav__menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: auto
  }
  .nav__mobile-controls {
    display: none
  }
  .hamburger-box {
    display: none
  }
  .form-item__body {
    width: 75%
  }
  .form-item-flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
  }
  .form-item-flex input[type=text] {
    width: auto;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 0 8px 0 0
  }
  .form-item-flex .btn {
    width: auto
  }
  .form-agreement {
    margin-top: 15px
  }
}
@media (min-width:1280px) {
  .content {
    padding-left: 100px;
    padding-right: 100px
  }
  .nav__item {
    padding: 0 20px
  }
  .nav__menu {
    margin-left: auto
  }
}
@media (min-width:1440px) {
  .bg-gray-xxl {
    background-color: var(--gray)
  }
}
@media (max-width:1023px) {
  .nav__menu {
    position: fixed;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: -webkit-transform .25s ease-in-out;
    transition: -webkit-transform .25s ease-in-out;
    -o-transition: transform .25s ease-in-out;
    transition: transform .25s ease-in-out;
    transition: transform .25s ease-in-out,-webkit-transform .25s ease-in-out;
    width: 100%;
    min-width: 320px;
    max-width: 375px;
    min-height: 100vh;
    min-height: 100dvh;
    top: 0;
    left: 0;
    bottom: 0;
    background: var(--black-bgr);
    overflow: hidden;
    overflow-y: auto
  }
  .is-hidden .nav__menu {
    top: 57px
  }
  .menu-toggle:checked ~ .nav__menu {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    z-index: 1
  }
  .menu-toggle:checked ~ .hamburger-box .hamburger-inner,
  .menu-toggle:checked ~ .nav__menu .hamburger-box .hamburger-inner {
    -webkit-transition-delay: .12s;
    -o-transition-delay: .12s;
    transition-delay: .12s;
    -webkit-transition-timing-function: cubic-bezier(.215,.61,.355,1);
    -o-transition-timing-function: cubic-bezier(.215,.61,.355,1);
    transition-timing-function: cubic-bezier(.215,.61,.355,1);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .menu-toggle:checked ~ .hamburger-box .hamburger-inner::before,
  .menu-toggle:checked ~ .nav__menu .hamburger-box .hamburger-inner::before {
    top: 0;
    -webkit-transition: top 75ms ease,opacity 75ms ease .12s;
    -o-transition: top 75ms ease,opacity 75ms ease .12s;
    transition: top 75ms ease,opacity 75ms ease .12s;
    opacity: 0
  }
  .menu-toggle:checked ~ .hamburger-box .hamburger-inner::after,
  .menu-toggle:checked ~ .nav__menu .hamburger-box .hamburger-inner::after {
    bottom: 0;
    -webkit-transition: bottom 75ms ease,-webkit-transform 75ms cubic-bezier(.215,.61,.355,1) .12s;
    transition: bottom 75ms ease,-webkit-transform 75ms cubic-bezier(.215,.61,.355,1) .12s;
    -o-transition: bottom 75ms ease,transform 75ms cubic-bezier(.215,.61,.355,1) .12s;
    transition: bottom 75ms ease,transform 75ms cubic-bezier(.215,.61,.355,1) .12s;
    transition: bottom 75ms ease,transform 75ms cubic-bezier(.215,.61,.355,1) .12s,-webkit-transform 75ms cubic-bezier(.215,.61,.355,1) .12s;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg)
  }
}
@media (max-width:767px) {
  .btn_close-modal::after,
  .btn_close-modal::before {
    height: 25px
  }
  .modal {
    width: 100%!important
  }
}
@media (prefers-reduced-motion:reduce) {
  * {
    -webkit-animation-duration: 0s!important;
    animation-duration: 0s!important;
    -webkit-animation-iteration-count: 1!important;
    animation-iteration-count: 1!important;
    -webkit-transition-duration: 0s!important;
    -o-transition-duration: 0s!important;
    transition-duration: 0s!important;
    scroll-behavior: auto!important
  }
}