.btn {
	cursor: pointer;
	display: flex;
	align-items: center;
	overflow: hidden;
	// white-space: nowrap;
	width: fit-content;
	border: 0;
	border-radius: 50px;
	padding: 12px 24px 10px;
	font-size: rem(15);
	font-weight: 500;
	line-height: 1.2;
	text-decoration: none;
	text-align: center;
	transition: all $transition-default, text-indent 0s;
	// overflow-wrap: anywhere;
	// word-break: break-word; // deprecated
	user-select: none;

	span {
		display: flex;
		align-items: center;
		justify-content: center;
		// transition: all $transition-default;

		&::after {
			transition: opacity $transition-default;
		}
	}

	svg {
		width: 17px;
		height: 17px;
		fill: currentColor;
	}

	@include on-focus-visible {
		box-shadow: 0 0 0 3px $yellow-dark !important;
		outline: none;
		border-radius: 50px;
	}

	// .btn_disabled
	&_disabled {
		cursor: default !important;
		pointer-events: none;
		color: rgba($color: #333, $alpha: 0.3) !important;

		span::after {
			opacity: 0.5;
		}
	}

	@include on-disabled {
		@extend .btn_disabled;
	}

	// .btn_yellow
	&_yellow {
		background: $yellow;
		box-shadow: 0 0 0 1px $yellow;

		@include on-hover {
			background: $yellow-dark;
			box-shadow: 0 0 0 1px $yellow-dark;
		}
		@include on-active {
			background: $yellow-dark;
			box-shadow: 0 0 0 1px $yellow-dark;
			// color: $black60 !important;
			span::after {
				opacity: 0.6;
			}
		}
		@include on-focus {
			// box-shadow: 0 0 0 1px $black60 inset, 0 0 0 6px #f7e9c7;
		}
		@include on-disabled {
		}
	}

	// .btn_yellow-transparent
	&_yellow-transparent {
		background: transparent;
		color: $yellow;
		box-shadow: 0 0 0 1px $yellow;

		@include on-hover {
			color: $yellow-dark;
			box-shadow: 0 0 0 1px $yellow-dark;
		}

		@include on-active {
			color: $yellow-dark;
			box-shadow: 0 0 0 1px $yellow-dark;
		}
	}

	// .btn_small
	&_small {
		height: 36px;
		font-size: rem(16);
		line-height: 1.1;
		padding: 9px 20px;
	}

	// .btn_medium
	&_medium {
		padding-left: 61px;
		padding-right: 61px;
	}

	// .btn_big
	&_big {
		flex-shrink: 0;
		height: 66px;
		font-size: rem(20);
		padding: 12px 40px;
	}

	// .btn_long
	&_long {
		padding-left: 72px;
		padding-right: 72px;
	}

	// .btn_fit
	&_fit {
		width: fit-content;
	}

	// .btn_wide, .btn_fill
	&_wide,
	&_fill {
		width: 100%;
	}

	// .btn_arrow
	&_arrow {
		span {
			&::after {
				content: "";
				display: block;
				margin-left: 5px;
				width: 15px;
				height: 15px;
				flex: 0 0 15px;
				background-image: $svg-arrow-black;
				background-repeat: no-repeat;
				transition: all $transition-default;
				margin-bottom: 1px;
			}
		}

		@include on-hover {
			span {
				&::after {
					transform: rotate(45deg);
				}
			}
		}

		// @include on-focus {
		// 	span {
		// 		&::after {
		// 			transform: rotate(45deg);
		// 		}
		// 	}
		// }

		@include on-focus-visible {
			box-shadow: 0 0 0 1px $black60, 0 0 0 7px $gray !important;
			border-radius: 4px;
			outline: none;
		}

		&.btn_white {
			box-shadow: 0 0 0 1px $white;

			@include on-hover {
				box-shadow: 0 0 0 1px $black;
			}
			@include on-active {
				box-shadow: 0 0 0 1px $black60;
			}
		}

		&.btn_yellow {
			@include on-focus-visible {
				box-shadow: 0 0 0 1px $black60, 0 0 0 7px $yellow !important;
			}
		}

		&.btn_transparent {
			@include on-focus-visible {
				box-shadow: 0 0 0 1px $black60, 0 0 0 7px $black !important;
			}
		}

		&.btn_nav-second {
			@include respond-to(lg) {
				span {
					&::after {
						width: 13px;
						height: 13px;
						flex: 0 0 13px;
						background-image: $svg-arrow-yellow;
					}
				}

				@include on-hover {
					span {
						&::after {
							background-image: $svg-arrow-black;
						}
					}
				}
			}
		}
	}

	// .btn_arrow-big
	&_arrow-big {
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: 56px;
		height: 36px;
		padding: 0 15px;

		&::after {
			content: "";
			display: block;
			margin-left: 5px;
			width: 17px;
			height: 17px;
			flex: 0 0 17px;
			background-image: $svg-arrow-black;
			background-repeat: no-repeat;
			transition: all $transition-default;
			margin-bottom: 1px;
		}

		@include on-hover {
			&::after {
				transform: rotate(45deg);
			}
		}

		// @include on-focus {
		// 	&::after {
		// 		transform: rotate(45deg);
		// 	}
		// }
	}

	// .btn_arrow-forward
	&_arrow-forward {
		display: flex;

		span {
			&::after {
				content: "";
				display: block;
				margin-left: 13px;
				width: 20px;
				height: 20px;
				flex: 0 0 20px;
				background-image: $svg-arrow-long;
				background-repeat: no-repeat;
				transition: all $transition-default;
				margin-bottom: 1px;
				transform: scaleX(-1);
			}
		}

		@include on-hover {
			span {
				&::after {
					transform: translateX(3px) scaleX(-1);
				}
			}
		}
	}

	// .btn_download
	&_download {
		display: flex;
		align-items: center;
		justify-content: center;

		&::after {
			content: "";
			display: block;
			margin-left: 5px;
			width: 17px;
			height: 17px;
			flex: 0 0 17px;
			background-image: $svg-download;
			background-repeat: no-repeat;
		}
	}
}

.btn-round {
	flex-shrink: 0;
	width: 50px;
	height: 50px;
	padding: 0;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;

	svg {
		width: 15px;
		height: 15px;
		fill: currentColor;
		// stroke: currentColor;
	}

	&.btn_big {
		width: 66px;
		height: 66px;

		svg {
			width: 33px;
			height: 33px;
		}
	}

	// @include respond-to(lg) {
	// 	width: 48px;
	// 	height: 48px;
	// }

	// @include on-event {
	// 	background: $yellow;
	// }


}

button {
	@include on-focus-visible {
		box-shadow: 0 0 0 1px $black60, 0 0 0 7px $black;
		border-radius: 4px;
	}
}
