.nav {
	position: relative;

	// .nav__list
	&__list {
		display: flex;
		align-items: center;

		// .nav__list_footer
		&_footer {
			.nav__item {
				padding: 0 10px;
			}
		}
	}

	// .nav__item
	&__item {
		margin: 0;
		padding: 0 15px;

		@include respond-to(xl) {
			padding: 0 20px;
		}

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
		}
	}

	// .nav__wrapper
	&__wrapper {
		height: 88px;
		display: flex;
		align-items: center;

		@include respond-to(lg) {
			position: relative;
			// padding: 0;
		}
	}

	// .nav__menu
	&__menu {
		display: flex;
		flex-direction: column;
		z-index: 1;

		@include respond-to(lg, "max") {
			position: fixed;
			transform: translateX(-100%);
			transition: transform $transition-default;
			width: 100%;
			min-width: 320px;
			max-width: 375px;
			min-height: 100vh;
			min-height: 100dvh;
			top: 0;
			left: 0;
			bottom: 0;
			background: $gray;
			overflow: hidden;
			overflow-y: auto;

			@include when-inside(".is-hidden") {
				top: 57px;
			}
		}

		@include respond-to(lg) {
			flex-direction: row;
			align-items: center;
			// min-width: 0; // прокрутка для переполненного меню на десктопе
			margin-left: auto;
		}

		@include respond-to(xl) {
			// min-width: auto; // прокрутка для переполненного меню на десктопе
			margin-left: auto;
		}

		&.hide-nav {
			.nav__catalog,
			.nav-second__wrapper {
				display: none;
			}
		}
	}

	// .nav__mobile-controls
	&__mobile-controls {
		z-index: 1;

		.hamburger-box {
			position: absolute;
			top: 12px;
			right: 2px;
			z-index: 2;
		}

		@include respond-to(lg) {
			display: none;
		}
	}
}
