// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
	box-sizing: border-box;
	min-width: $min-width;
	min-height: 100vh;
	// overflow-x: hidden;
	cursor: default;
}

body {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	letter-spacing: -0.28px;
	// scrollbar-gutter: stable;
	// sticky для сайдбара не работает, если для html стоит overflow-x: hidden; (выше), нужен clip (ниже), но тогда возникают проблемы у body.noscroll

	overflow-x: hidden;
	overflow-y: scroll;
}

body,
html {
	// overflow-x: clip;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
	box-sizing: inherit;
}

::-moz-selection {
	background: $yellow;
	color: $black;
}

::selection {
	background: $yellow;
	color: $black;
}

img::-moz-selection {
	background: rgba(255, 192, 0, 0.5);
	color: transparent;
}

img::selection {
	background: rgba(255, 192, 0, 0.5);
	color: transparent;
}

svg {
	transition: all $transition-default;
}