///
/// Basic styles for headings
///
%h1-heading {
	font-size: rem(32);
	line-height: 0.9;
	font-weight: 600;
	letter-spacing: -1.28px;
	margin-bottom: 30px;

	@include respond-to(md) {
		font-size: rem(40);
		margin-bottom: 39px;
	}

	@include respond-to(lg) {
		font-size: rem(64);
		font-weight: 700;
	}
}

%h2-heading {
	font-size: rem(24);
	line-height: 1;
	font-weight: 700;
	letter-spacing: -0.68px;
	margin-bottom: 24px;

	@include respond-to(lg) {
		font-size: rem(34);
	}
}

%h3-heading {
	font-size: rem(20);
	line-height: 1;
	font-weight: 700;
	letter-spacing: -0.4px;
	margin-bottom: 16px;

	@include respond-to(lg) {
		font-size: rem(24);
		letter-spacing: -0.48px;
	}
}

%h4-heading {
	font-size: rem(18);
	line-height: 1;
	font-weight: 700;
	letter-spacing: -0.4px;
	margin-bottom: 16px;

	@include respond-to(lg) {
		font-size: rem(20);
	}
}

%h5-heading {
	font-size: rem(16);
	line-height: 1.2;
	font-weight: 700;
	letter-spacing: -0.3px;
	margin-bottom: 16px;

	@include respond-to(lg) {
		font-size: rem(18);
	}
}

%h6-heading {
	font-size: rem(14);
	line-height: 1.2;
	font-weight: 700;
	letter-spacing: -0.3px;
	margin-bottom: 16px;

	@include respond-to(lg) {
		font-size: rem(16);
	}
}

///
/// Basic styles for links
///
%text-links {
	color: $href-color;

	@include on-event {
		color: $href-color-hover;
	}

	&:focus-visible {
		outline: 2px solid $yellow-dark;
		border-radius: 4px;
		transition: none;
	}
}

%text-links-solid {
	position: relative;
	color: $href-color;
	text-decoration: underline;
	text-decoration-color: transparent;
	text-underline-offset: 5px;
	// padding-bottom: 1px;
	// border-bottom: 1px solid transparent;
	text-shadow: none;
	// transition: color 0.15s ease, text-shadow 0.15s ease, text-decoration-color 0.15s ease;
	transition: all 0.15s ease;

	@include on-hover {
		text-shadow: $shadow-600;
		text-decoration-color: inherit;
		// border-bottom-color: $href-color;
	}

	@include on-active {
		color: $black60;
		text-shadow: $shadow-600;
		transition: all $transition-default;
	}

	&:focus-visible {
		outline: 2px solid $yellow-dark;
		border-radius: 3px;
		transition: none;
	}
}

%text-links-dashed {
	@extend %text-links-solid;
	border-bottom-style: dashed;
}

%link-classic {
	text-decoration: underline;
	text-decoration-color: $black30;
	text-underline-offset: 1px;
	transition: all 0.15s ease;

	@include on-hover {
		text-shadow: 0 0 0;
		text-decoration-color: $black60;
	}
}
