/**
 * Basic typography style for text
 */

/*
https://learn.javascript.ru/css-units
rem - от html
em - от текущего шрифта
% - от размера шрифта родителя / margin-left - от родительской ширины / line-height - от текущего размера шрифта (не от родителя) / width/height - от ширины/высоты родителя/окна (при position:fixed)
vw – 1% ширины окна
vh – 1% высоты окна
vmin – наименьшее из (vw, vh), в IE9 обозначается vm
vmax – наибольшее из (vw, vh)
*/

/// Default font size for rem() function (body font-size 100%)
/// перенес в variables
// $browser-context: 16;

body {
	color: $text-color;
	font: normal rem(15) / 1.2 $ff-text;
	font-weight: 500;
}

/**
 * Text others
 */
h1,
.h1,
.h1 > * {
	@extend %h1-heading;
}

h2,
.h2,
.h2 > * {
	@extend %h2-heading;
}

h3,
.h3,
.h3 > * {
	@extend %h3-heading;
}

h4,
.h4,
.h4 > * {
	@extend %h4-heading;
}

h5,
.h5,
.h5 > * {
	@extend %h5-heading;
}

h6,
.h6,
.h6 > * {
	@extend %h6-heading;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	span {
		color: $black60;
		// margin-left: 5px;
	}
}

a {
	@extend %text-links-solid;
}

p {
	letter-spacing: -0.3px;
	margin-bottom: 16px;
	line-height: 1.4;

	a {
		@extend %link-classic;
	}
}

ul,
ol {
	display: block;
	list-style-type: disc;
	margin-bottom: 15px;
	margin-left: 12px;
	padding-left: 20px;

	li {
		margin-bottom: 5px;
	}
}

ol {
	list-style-type: decimal;
}

/**
 * Text positions
 */
.text-center {
	text-align: center !important;
}

.text-left {
	text-align: left !important;
}

.text-right {
	text-align: right !important;
}

.text-uppercase {
	text-transform: uppercase;
}

.text-block {
	margin-bottom: 12px;

	span {
		color: $black60;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

.text-cols-2 {
	column-count: 2;
	column-gap: 60px;
	column-width: 300px;
}

/**
 * Text colors
 */
.text-black {
	color: $black;
}

.text-white {
	color: $white !important;
}

.text-yellow {
	color: $yellow !important;
}

/**
 * Common headers
 */
.block-header {
	font-weight: 700;
	margin-top: 40px;
	margin-bottom: 29px;
	text-align: center;
	font-size: rem(20);

	@include respond-to(md) {
		margin-top: 50px;
		margin-bottom: 32px;
		text-align: left;
		font-size: rem(24);
		display: flex;
		justify-content: space-between;
	}

	@include respond-to(lg) {
		font-size: rem(34);
	}

	&._left {
		text-align: left;
	}
}

.h-angle {
	display: flex;
	align-items: center;

	&::after {
		content: "";
		display: block;
		padding-left: 15px;
		width: 20px;
		height: 15px;
		background: $svg-angle right center no-repeat;
		transition: opacity $transition-default;

		@include respond-to(lg) {
			margin-top: 4px;
		}
	}
}