.call-to-action {
	color: $white;
	padding: 100px 20px;

	// .call-to-action__body
	&__body {
		padding: 105px 80px;
		position: relative;
	}

	// .call-to-action__text
	&__text {
		position: relative;
		display: flex;
		justify-content: space-between;
		z-index: 1;

		& > *:first-child {
			margin-right: 20px;
		}
	}

	// .call-to-action__image
	&__image {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border-radius: 32px;
		overflow: hidden;

		&::before {
			content: "";
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			background: linear-gradient(-270deg, rgba(26, 24, 24, 0.9) 0%, rgba(26, 24, 24, 0) 100%),
				linear-gradient(172deg, rgba(36, 22, 16, 0.93) 0%, rgba(0, 0, 0, 0) 50%);
		}
	}
}
