.manufacturing {
	color: $white;
	position: relative;
	padding: 125px 0;

	// .manufacturing__body
	&__body {
		height: 285px;
	}

	// .manufacturing__body-text
	&__body-text {
		display: flex;
	}

	// .manufacturing__body-text-left
	&__body-text-left {
		width: 50%;
		margin: 0 27px;
	}

	// .manufacturing__body-text-right
	&__body-text-right {
		width: 50%;
		margin: 0 27px;
	}

	// .manufacturing__header
	&__header {
		margin-bottom: 15px;

		div {
			@extend %h2-heading;
		}
	}

	// .manufacturing__descr
	&__descr {
		font-size: rem(18);
	}

	// .manufacturing__image
	&__image {
		position: absolute;
		top: 0;
		right: -100px;
		bottom: 0;
		left: -100px;
		z-index: -1;
	}
}

.m-counters {
	display: flex;

	// .m-counters__col
	&__col {
		margin: 0 40px;
	}

	// .m-counters__item
	&__item {
		margin-bottom: 40px;

		p {
			color: $yellow;
			font-size: rem(64);
			font-weight: 600;
			margin: 0;
		}

		sup {
			font-size: rem(40);
		}

		span {
			font-size: rem(16);
		}
	}
}
