/// генерация переменных для root
/// также дублируется в _variables для удобного использования в scss
/// можно обойтись без дублирования, если вызывать через функцию color(color-name) напрямую из map, но так дольше писать xD
$colors: (
	"black-real": #000,
	"black-real10": rgba(0, 0, 0, 0.1),
	"black": #333,
	"black10": #ebebeb,
	"black30": rgba(51, 51, 51, 0.3),
	"black60": rgba(51, 51, 51, 0.6),
	"black70": rgba(51, 51, 51, 0.7),
	"white": #fff,
	"yellow": #ffc845,
	"yellow-dark": #fbb505,
	"gray": #f6f8f9,
	"gray-dark": #e1e7ea,
	"gray-modern": #454545,
	"red-coral": #ffa573,
	"blue": #bce6f9,
	"red-coral-dark": #fe8643,
	"blue-dark": #97d4ef,
	"bright-blue": #05486e,
	"bright-blue60":
		rgba(
			$color: #05486e,
			$alpha: 0.6,
		),
	"gray-dark-second": #c7d0d6,
	"yellow-light": #fff0ca,
	"gray-blue": #dde5ef,
	"gray-blue-light": #e9eef0,
	"gray-yellow": #fdf5e6,
	"red": #ff2e00,
	"gray-light": #f3f7fa,
	"green": #2eb822,
);

$svgs: (
	"svg-fetch-ring":
		url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3E%3Cpath fill='%23333' fill-rule='evenodd' d='M8 2.6A5.4 5.4 0 1 0 13.4 8a.6.6 0 1 1 1.2 0A6.6 6.6 0 1 1 8 1.4a.6.6 0 0 1 0 1.2Z' clip-rule='evenodd'/%3E%3Cpath fill='%23333' fill-opacity='.3' fill-rule='evenodd' d='M4.182 11.818a5.4 5.4 0 1 0 0-7.636.6.6 0 0 1-.849-.849 6.6 6.6 0 1 1 0 9.334.6.6 0 1 1 .849-.849Z' clip-rule='evenodd'/%3E%3C/svg%3E"),
	"svg-arrow-long":
		url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath stroke='%23333' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M7.161 2 1.5 8m0 0 5.661 6M1.5 8H15'/%3E%3C/svg%3E"),
	"svg-arrow-yellow":
		url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpath stroke='%23ffc845' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.2' d='M2 3h7.001m0 0v7m0-7L2 10'/%3E%3C/svg%3E"),
	"svg-arrow-black":
		url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpath stroke='%23333' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.2' d='M2 3h7.001m0 0v7m0-7L2 10'/%3E%3C/svg%3E"),
	"svg-arrow-white":
		url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.2' d='M2 3h7.001m0 0v7m0-7L2 10'/%3E%3C/svg%3E"),
	"svg-arrow-bright-blue":
		url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpath stroke='%2305486e' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.2' d='M2 3h7.001m0 0v7m0-7L2 10'/%3E%3C/svg%3E"),
	"svg-arrow-thin":
		url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 17 9'%3E%3Cpath stroke='%23333' stroke-linecap='round' stroke-linejoin='round' stroke-opacity='.6' d='M4.774.5 1 4.5m0 0 3.774 4M1 4.5h15'/%3E%3C/svg%3E"),
	"svg-angle":
		url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 7 10'%3E%3Cpath stroke='%23333' stroke-linecap='round' stroke-linejoin='round' d='m1 1 5 4-4.999 4'/%3E%3C/svg%3E"),
	"svg-angle-white":
		url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 7 10'%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' d='m1 1 5 4-4.999 4'/%3E%3C/svg%3E"),
	"svg-angle-bright-blue":
		url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 7 10'%3E%3Cpath stroke='%2305486e' stroke-linecap='round' stroke-linejoin='round' d='m1 1 5 4-4.999 4'/%3E%3C/svg%3E"),
	"svg-close":
		url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 26 26'%3E%3Cpath stroke='%23333' stroke-linecap='round' stroke-width='1.5' d='m7 7 12.728 12.728M20 7 7.272 19.728'/%3E%3C/svg%3E"),
	"svg-nav-search":
		url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23858585' fill-rule='evenodd' d='M2.1 7a5.4 5.4 0 1 1 10.8 0A5.4 5.4 0 0 1 2.1 7ZM7.5.4a6.6 6.6 0 1 0 4.224 11.672l3.352 3.352a.6.6 0 1 0 .849-.848l-3.353-3.353A6.6 6.6 0 0 0 7.5.4Z' clip-rule='evenodd'/%3E%3C/svg%3E"),
	"svg-nav-search-mobile":
		url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23c7d0d6' viewBox='0 0 20 21'%3E%3Cpath fill-rule='evenodd' d='M15.542 14.784a8.889 8.889 0 1 0-1.884 1.608l4.235 4.234a1.235 1.235 0 1 0 1.745-1.746l-4.096-4.096Z' clip-rule='evenodd'/%3E%3C/svg%3E"),
	"svg-delivery":
		url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23333' fill-rule='evenodd' d='M0 12.4c0 .368.298.666.667.666h1.447a2 2 0 0 1 3.772 0h3.447A.667.667 0 0 0 10 12.4v-8a.667.667 0 0 0-.667-.666H.667A.667.667 0 0 0 0 4.399v8Zm4 0a1.333 1.333 0 1 0-.001 2.665A1.333 1.333 0 0 0 4 12.4Zm9.886.666h1.447A.667.667 0 0 0 16 12.4V9.928a.666.666 0 0 0-.105-.36l-1.832-2.861a.667.667 0 0 0-.561-.308h-2.169a.667.667 0 0 0-.666.667v5.176a2 2 0 0 1 3.22.824Zm-.731 0a1.333 1.333 0 1 1-2.31 1.333 1.333 1.333 0 0 1 2.31-1.333Z' clip-rule='evenodd'/%3E%3C/svg%3E"),
	"svg-instock":
		url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 14 14'%3E%3Crect width='14' height='14' fill='%23D2F8CC' rx='7'/%3E%3Cpath stroke='%23159400' stroke-linecap='round' stroke-linejoin='round' d='M3.805 6.167 6.582 9.5l3.612-5'/%3E%3C/svg%3E"),
	"svg-preorder":
		url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 13 13'%3E%3Crect width='12' height='12' x='.75' y='.5' fill='%23FFF0CA' rx='6'/%3E%3Cpath stroke='%234E3700' stroke-linecap='round' stroke-linejoin='round' stroke-width='.686' d='M10.363 6.943h-3.86V3.122'/%3E%3Ccircle cx='6.75' cy='6.5' r='5.655' stroke='%234E3700' stroke-width='.69'/%3E%3C/svg%3E"),
	"svg-geo":
		url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 19 18'%3E%3Cpath fill-rule='evenodd' d='M9.255 18a9 9 0 1 0 0-18 9 9 0 0 0 0 18Zm4.19-10.009c0 4.014-4.19 7.41-4.19 7.41s-4.19-3.396-4.19-7.41c0-2.387 1.876-4.322 4.19-4.322 2.314 0 4.19 1.935 4.19 4.322Zm-2.028.03a2.16 2.16 0 1 1-4.32 0 2.16 2.16 0 0 1 4.32 0Z' clip-rule='evenodd'/%3E%3C/svg%3E"),
	"svg-checked":
		url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 12 10'%3E%3Cpath stroke='%23333' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m1.5 3.8 4 4.8 5.2-7.2'/%3E%3C/svg%3E"),
	"svg-filter":
		url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath stroke='%23333' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.2' d='M15 6.003 1 6M12 10.001 4 10M10 14H6'/%3E%3C/svg%3E"),
	"svg-download":
		url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 17'%3E%3Cpath stroke='%23333' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.2' d='M12.5 7.579 8 12m0 0L3.5 7.58M8 12V1.5'/%3E%3Cpath stroke='%23333' stroke-width='1.2' d='M14.5 11v3a1 1 0 0 1-1 1h-11a1 1 0 0 1-1-1v-3'/%3E%3C/svg%3E"),
);
