:root {
	--swiper-theme-color: var(--yellow);
	--swiper-pagination-bullet-inactive-color: var(--gray);
	--swiper-pagination-bullet-inactive-opacity: 1;
	--swiper-pagination-bullet-size: 10px;
	--swiper-pagination-bullet-horizontal-gap: 7px;
	--swiper-pagination-bottom: 14px;
}

.swiper-wrapper {
	align-items: center;
}
