// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Headers (serif) font family
/// @type List
// $ff-header: "PT Serif", "Times New Roman", serif !default;

/// Regular font family
/// @type List
$ff-text: "Manrope", "Helvetica", "Open Sans", "Arial", sans-serif !default;
$browser-context: 16;

/// Code (monospace) font family
/// @type List
// $ff-code: "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Monaco", monospace !default;

/// цвета дублируются в _root-vars-map для первичной генерации переменных root
/// можно обойтись без дублирования тут, если вызывать через функцию color(color-name) напрямую из _root-vars-map, но так дольше писать xD
/// Simple colors
/// @type Color
$black: var(--black);
$black-bgr: var(--black-bgr);
$black-real: var(--black-real);
$black60: var(--black60);
$gray: var(--gray);
$gray-light: var(--gray-light);
$white: var(--white);
$yellow: var(--yellow);
$yellow-dark: var(--yellow-dark);
$red: var(--red);

$svg-fetch-ring: var(--svg-fetch-ring);
$svg-arrow-long: var(--svg-arrow-long);
$svg-arrow-long-yellow: var(--svg-arrow-long-yellow);


$svg-arrow-yellow: var(--svg-arrow-yellow);
$svg-arrow-black: var(--svg-arrow-black);
$svg-arrow-white: var(--svg-arrow-white);
$svg-arrow-thin: var(--svg-arrow-thin);
$svg-angle: var(--svg-angle);
$svg-angle-white: var(--svg-angle-white);
$svg-angle-yellow: var(--svg-angle-yellow);
$svg-close: var(--svg-close);
$svg-nav-search: var(--svg-nav-search);
$svg-nav-search-mobile: var(--svg-nav-search-mobile);
$svg-delivery: var(--svg-delivery);
$svg-instock: var(--svg-instock);
$svg-preorder: var(--svg-preorder);
$svg-geo: var(--svg-geo);
$svg-checked: var(--svg-checked);
$svg-filter: var(--svg-filter);
$svg-download: var(--svg-download);

/// Simple colors
/// @type Color
// $white: #fff;
// $black: #000;
// $grey: #ccc;
// $red: #f00;
$default-color: $black;

/// Text color
/// @type Color
$text-color: $black !default;
$href-color: inherit !default;
$href-color-hover: inherit !default;

$shadow-600: 0 0 0;
$shadow-700: 0 0 0, 0 0 0;

/// Form colors
/// @type Color
$placeholder-color: $black60;
$input-color: $text-color;

/// Transitions
$transition-default: 0.25s ease-in-out;

/// Container's maximum width + paddings
/// @type Length
$min-width: 320px !default;
$max-width: 1440px !default;
$min-padding: 12px !default;
$max-padding: 16px !default; // 768+ (md)
$xl-padding: 100px !default; // 1280+ (xl)

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
	"xs": 375px,
	"sm": 425px,
	"xm": 577px,
	"md": 768px,
	"lg": 1024px, // desktop
	"xl": 1280px,
	"xxl": 1440px,
) !default;

/// Icons base64
// $menu-arrow-white: "data:image/svg+xml;base64,.....";
