// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer {
	background: $black-bgr;
	color: $gray-light;

	// .footer__info
	&__info {
		padding-top: 8px;
		padding-bottom: 48px;
		display: flex;

		.footer-col > *:last-child {
			margin-bottom: 0;
		}

		a:not(.btn) {
			color: $yellow;
			@extend %link-classic;
		}
	}

	// .footer__contacts
	&__contacts {
		height: 100%;
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		padding-bottom: 5px;

		a {
			color: $black;
			margin: 0 7px;
		}

		button {
			margin-left: 15px;
		}
	}
}

.footer-col {
	width: 50%;
}
