// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.header {
	background: $black-bgr;
	color: $gray-light;
	display: flex;
	flex-direction: column;
	z-index: 12;

	&.is-ontop {
		transform: translateY(0) !important;
	}

	&.is-sticky {
		transform: translateY(0);
		position: sticky;
		top: 0;
		transition: transform $transition-default;

		@include respond-to(lg) {
			transform: translateY(-35px);
		}
	}

	&.is-hidden {
		transform: translateY(-100%) !important;
		transition: transform $transition-default;
	}
}

.logo {
	@include respond-to(md) {
		margin: 0 auto;
	}

	@include respond-to(lg) {
		margin: 0;
	}

	svg {
		fill: $white;
		width: 100px;
		height: 20px;
	}

	// .logo__link
	&__link {
		display: block;
		border: 0;
		width: 100px;
		height: 20px;
	}

	// .logo__name
	&__name {
		color: $yellow;
		font-weight: 700;
		margin-top: 5px;
	}
}
