// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.header-alert {
	font-size: rem(13);
	padding: 12px 0;
	z-index: 12;

	@include respond-to(md) {
		padding: 7px 0;
	}

	@include respond-to(lg) {
		font-size: rem(15);
		padding: 4px 0;
	}

	// .header-alert_black
	&._black {
		color: $white;
		background: $black;

		a {
			color: $white;
		}
	}

	// .header-alert__wrapper
	&__wrapper {
		display: grid;
		grid-auto-flow: row;
		align-items: center;
		justify-content: start;
		justify-items: center;
		gap: 8px 18px;
		position: relative;
		padding-right: 50px !important;

		@include respond-to(xm) {
			grid-auto-flow: column;
		}
	}

	// .header-alert__left
	&__left {
		text-align: center;
		@include respond-to(xm) {
			text-align: left;
		}
	}

	// .header-alert__right
	&__right {
	}
}

.header {
	display: flex;
	flex-direction: column;
	z-index: 12;

	// .header__logo
	&__logo {
		@include respond-to(md) {
			margin-left: auto;
			margin-right: -50px;
		}

		@include respond-to(lg) {
			margin: 0;
		}

		svg {
			fill: $black;
			width: 84px;
			height: 16px;

			@include respond-to(md) {
				width: 100px;
				height: 20px;
			}
		}
	}
	// .header__logo-link
	&__logo-link {
		display: block;
		border: 0;
		width: 84px;
		height: 16px;

		@include respond-to(md) {
			width: 100px;
			height: 20px;
		}
	}

	&.is-ontop {
		transform: translateY(0) !important;
	}

	&.is-sticky {
		transform: translateY(0);
		position: sticky;
		top: 0;
		transition: transform $transition-default;

		@include respond-to(lg) {
			transform: translateY(-35px);
		}
	}

	&.is-hidden {
		transform: translateY(-100%) !important;
		transition: transform $transition-default;
	}
}
